%h2 Emily Ellison 
%p 
  = image_tag 'glyphicons_139_phone.png', class: 'icon' 
  %a{ href:"tel:3128107808"} (312) 810-7808
 
%p 
  = image_tag 'glyphicons_010_envelope.png', class: 'icon'
  = mail_to 'emily@fixitwithcode.com', 'emily@fixitwithcode.com', subject: 'Hello'
 
%p 
  = image_tag 'glyphicons_020_home.png', class: 'icon' 
  = link_to 'Chicago, IL', 'https://maps.google.com/maps?q=chicago+illinois+map&ie=UTF-8&hq=&hnear=0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000,Chicago,+IL&gl=us&ei=JWQPUM-KM8_GqAHPxYCoCw&ved=0CAgQ8gEwAA'
 
%h2 Profiles 
%p 
  = link_to image_tag('github_profile.jpeg', width: 50), 'https://github.com/emilyellison986'
  = link_to image_tag('linked_in_profile.jpeg', width: 50), "http://www.linkedin.com/in/emilyellison986"
  = link_to image_tag('twitter_profile.png', width: 50), "https://twitter.com/emilyellison986"
 
