.span8
  %h1 Who's Emily? 
  %p 
    When I was little, I was fascinated by patterns - finding patterns, 
    replicating them, and creating new ones.
   
  %p 
    The first way I explored patterns was through art. As a child, I was 
    constantly drawing, and if I didn't have a pen and paper with me you 
    could often catch me tracing images on the table with my finger. I 
    especially loved drawing people. All people had general common ratios, 
    like how a person's eyes are generally spaced an eye-width distance 
    apart. And each individual had their own personal ratios on top of 
    that, like how my nose is the exact same height as my ears. Honing in
    on these patterns helped me become good at drawing from observation.
   
  %p 
    When I got a bit older, I decided to make a career out of patterns, 
    and pursued statistics - the mathematical science of distinguishing 
    real patterns from fake ones. With statistics, I had the power to 
    discern whether eating cookies before an exam really improved my 
    academic performance (no) or whether easy-to-read health brochures 
    improved a person's ability to manage their health (yes). And what 
    I discovered after many years of school and working as an analyst was 
    that my favorite part of statistics was actually... the programming.
   
  %p 
    In no part of my job were there more patterns to be found, dissected,
    utilized, and created than when I was writing statistical programs. 
    When I realized this, I began playing with other programming languages:
    HTML, CSS, and then - one tipsy evening - Ruby. My immediate 
    fascination led to me quitting my job, and pursuing an education in 
    web development full-time at Code Academy. During the program, I 
    learned more about web applications than I thought I could, and now 
    I'm continuing my discovery in helping other people build out their 
    dream web applications.
.span4
  %h1 Contact 
   = render 'overview/contact_info'
.span4
  .recent_update
    %h1 Recent Update 
    %p{ style:'font-style:italic;'} via Twitter 
    %p 
      Emily Ellison 
      = link_to "@emilyellison986", "https://twitter.com/emilyellison986"
    %p= @tweet['text']
    %p.date_stamp 
      Tweeted 
      = time_ago_in_words(@tweet['created_at']) 
      ago. 
.span8
  %h1 Trivia 
  .trivia
    %p 
      When I'm not programming, I enjoy drawing, exploring Chicago on foot, 
      discovering new restaurants and new beers with my husband, and 
      playing board games. 
     
    %p 
      I'm a skilled Backgammon player. I just recently learned how to 
      ride a bike. And my favorite beer is Left Hand Milk Stout.
     
    %p 
      My life goals are to become an expert in programming, have multiple mini-retirements,
      and never own a car again.
.about_pic
  = image_tag 'emily_25.jpg'
