<div class='span12'>
	<h1>Web Developer</h1>
	<div class='web_developer_paragraph'>
		<p>
			A problem that can be fixed with code isn't a problem. It's an opportunity.
		</p>
		<p>
			With a passion for building data-backed, dynamic, user-friendly websites, 
			my goal is delivering a product that is inviting for customers and easy to
			maintain for the client.
		</p>
		<ul>
			<li>Data-Backed Websites</li>
			<li>Ruby on Rails Development</li>
			<li>Database Construction</li>
			<li>Web Analytics</li>
		</ul>	
		<ul>
			<li>CMS Development</li>
			<li>Authentication & Authorization</li>
			<li>Complex Search</li>
			<li>API Usage</li>
		</ul>
	</div>
	<%= image_tag 'emily_1.jpeg', width:298, class: 'web_developer_image' %>
</div>



<div class='span6'>
	<h1>Recent Projects</h1>
	<ul>
		<li><%= link_to 'GitSetGo', '#' %></li>
		<li><%= link_to 'BeerOn', '#' %></li>
		<li><%= link_to '#caHack', '#' %></li>
	</ul>
</div>
<div class='span6'>
	<h1>Recent Articles</h1>
	<ul>
		<% @blog_posts.each do |blog_post| %>
			<li><%= link_to blog_post.title, blog_post_url(blog_post.id) %></li>
		<% end %>
	</ul>
</div>