<div class='span12'>
	<h1>Web Developer</h1>
	<p>
		Good websites look dynamic. Great websites are dynamic! With a passion for 
		building data-backed, dynamic, user-friendly websites, my goal is delivering a 
		product that is inviting for customers and easy to maintain for the client.
	</p>
</div>
<div class='span6'>
	<h1>Recent Projects</h1>
	<ul>
		<li><%= link_to 'GitSetGo', '#' %></li>
		<li><%= link_to 'BeerOn', '#' %></li>
		<li><%= link_to '#caHack', '#' %></li>
	</ul>
</div>
<div class='span6'>
	<h1>Recent Articles</h1>
	<ul>
		<li><%= link_to 'Why Twitter Bootstrap is Cool', '#' %></li>
		<li><%= link_to 'How to Transform Checkboxes in to Buttons', '#' %></li>
		<li><%= link_to 'Setting Up Rails on My Machine', '#' %></li>
	</ul>
</div>