<div class='span12'>
	<h1>Administrative</h1>
	<h2>
		Manage Blog Posts
		<span class='header_button'>
			<%= link_to '+', new_blog_post_url, class: 'button' %>
		</span>
	</h2>
	<ul>
	<% @blog_posts.each do |blog_post| %>
		<li>
			<%= link_to blog_post.title, blog_post_url(blog_post.id) %>
			<span class='edit_delete'>
				<%= link_to '&#9998;'.html_safe, edit_blog_post_url(blog_post.id) %>
				<%= link_to '&#9851;'.html_safe, blog_post_url(blog_post.id), method: :delete, confirm: 'Are you sure you want to delete this blog post?' %>
			</span>
		</li>
	<% end %>
	</ul>
	<hr/>
	<h2>
		Manage Portfolio
		<span class='header_button'>
			<%= link_to '+', new_project_url, class: 'button' %>
		</span>	
	</h2>
	<ul>
	<% @projects.each do |project| %>
		<li>
			<%= link_to project.title, project_url(project.id) %>
			<span class='edit_delete'>
				<%= link_to '&#9998;'.html_safe, edit_project_url(project.id) %>
				<%= link_to '&#9851;'.html_safe, project_url(project.id), method: :delete, confirm: 'Are you sure you want to delete this project?' %>
			</span>
		</li>
	<% end %>
	</ul>
	<hr/>
	<br/>
	<p><%= link_to 'Sign Out', sign_out_url, class: 'button' %></p>
	<br/>
</div>