.span12
  %h1 Administrative 
  %h2 
    Manage Blog Posts
    %span.header_button
      = link_to '+', new_blog_post_url, class: 'button'
  %ul 
  - @blog_posts.each do |blog_post| 
    %li 
      = link_to blog_post.title, blog_post_url(blog_post.id)
      %span.edit_delete
        = link_to '&#9998;'.html_safe, edit_blog_post_url(blog_post.id)
        = link_to '&#9851;'.html_safe, blog_post_url(blog_post.id), method: :delete, confirm: 'Are you sure you want to delete this blog post?'
  %hr
  %h2 
    Manage Portfolio
    %span.header_button
      = link_to '+', new_project_url, class: 'button'
  %ul 
  - @projects.each do |project|
    %li 
      = link_to project.title, project_url(project.id)
      %span.edit_delete
        = link_to '&#9998;'.html_safe, edit_project_url(project.id)
        = link_to '&#9851;'.html_safe, project_url(project.id), method: :delete, confirm: 'Are you sure you want to delete this project?'
  %hr 
  %h2 
    Manage Project Images
    %span.header_button
      = link_to '+', new_project_image_url, class: 'button'
  %ul 
  - @project_images.each do |project_image|
    %li 
      =  project_image.image
      %span.edit_delete
        = link_to '&#9998;'.html_safe, edit_project_image_url(project_image.id)
        = link_to '&#9851;'.html_safe, project_image_url(project_image.id), method: :delete, confirm: 'Are you sure you want to delete this project image?'
  %hr 
  %br 
  %p 
    = link_to 'Sign Out', sign_out_url, class: 'button' 
  %br 
