<div class='span12'>
	<h1>Portfolio</h1>
	<% @projects.each do |project| %>
		<h2><%= project.title %></h2>
		<div class='condensed'>
			<p>Website: <%= link_to project.website, project.website %></p>
			<p>Github: <%= link_to project.github, project.github %></p>
		</div>
		<p><%= project.description %></p>
		<p>Tools: <%= project.tools %></p>
		<hr/>
	<% end %>
</div>

