<div class='span12'>
	<h1>Portfolio</h1>
	<% @projects.each do |project| %>
		<h2>
			<%= project.title %>
			<% if @current_user && @current_user.admin == true %>
				<span class='edit_delete'>
					<%= link_to '&#9998;'.html_safe, edit_project_url(project.id) %>
					<%= link_to '&#9851;'.html_safe, project_url(project.id), method: :delete, confirm: 'Are you sure you want to delete this blog post?' %>
				</span>
			<% end %>
		</h2>
		<div class='condensed'>
			<p>Website: <%= link_to project.website, project.website %></p>
			<p>Github: <%= link_to project.github, project.github %></p>
		</div>
		<p><%= project.description %></p>
		<p>Tools: <%= project.tools %></p>
		<hr/>
	<% end %>
</div>

