<div id='accordion'>
	<% @projects.each do |project| %>   
	  <h1 class='<%= 'first' if project == @projects.first %>'>
			<%= link_to project.title, '#' %>
		</h1>
		<div class='span12'>
			<div class='portfolio_text'>
				<p><%= project.description %></p>			
				<p>Tools: <%= project.tools %></p>
				<h4>Features</h4>
				<ul>
				  <% project.functionality.split(' * ').each do |function| %>
				  	<li><%= function %></li>
				  <% end %>
				</ul>	
				<p>
					<% if project.github.present? %>
						<%= link_to 'LIVE', project.website, class: 'live_icon' %>
					<% elsif project.github.blank? %>
						<%= link_to 'LIVE', project.website, class: 'live_icon no_github' %>
					<% end %>
					<%= link_to image_tag('github_profile.jpeg', width: 50), project.github if project.github.present? %>
				</p>
			</div>
			<div class='portfolio_image'>
				<% project.project_images.each do |image| %>
					<%= image_tag image.image %>
				<% end %>
				<%#= image_tag project.image %>
			</div>
		</div>
	<% end %>
</div>


