<div class='span6'>
	<h1><%= @project.title %></h1>

	<div class='condensed'>
		<p></p>
		<p>Website: <%= link_to @project.website, @project.website %></p>
		<p>Github: <%= link_to @project.github, @project.github %></p>
	</div>
	<p><%= @project.description %></p>
	<p>Tools: <%= @project.tools %></p>
	<h4>Features</h4>
	<ul>
		<% @project.functionality.split(' * ').each do |function| %>
			<li><%= function %></li>
		<% end %>
	</ul>
</div>
<div class='span6'>
	<%= image_tag @project.image %>
</div>