<div class='span8'>
	<h1>Proposal</h1>
	<h2>How can I help?</h2>
	<p>
		If you need help building out your dream website, 
		or you'd just like to introduce yourself, fill 
		out the contact form, and I'll be in touch as soon as 
		I can. Thanks!
	</p>
	<%= form_for @inquiry, url: new_inquiry_url do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :email, 'E-mail' %>
		<%= f.text_field :email %>
		<%= f.label :message %>
		<%= f.text_area :message, rows: 10 %><br/><br/>	
		<%= f.submit 'Send', class: 'button' %>	
	<% end %>
</div>
<div class='span4'>
	<h1>Contact Information</h1>
	<%= render 'overview/contact_info' %>
</div>