<header>
	<div class='logo'>
		<h1><%= link_to 'Fix It With Code', root_url %></h1>
		<p>The Portfolio of the Ellisons</p>
	</div>
	<div class='menu'>
		<ul>
			<li class='<%= @home_page %>'><%= link_to 'Home', root_url %></li>
			<li class='<%= @portfolio_page %>'><%= link_to 'Portfolio', projects_url %></li>
			<li class='<%= @about_page %>'><%= link_to 'About', about_url %></li>
			<li class='<%= @blog_page %>'><%= link_to 'Blog', blog_posts_url %></li>
			<li class='<%= @hire_page %>'><%= link_to 'Hire', new_inquiry_url %></li>
			<% if @current_user && @current_user.admin == true %>
				<li class='<%= @admin_page %>'><%= link_to 'Admin', admin_url %></li>
			<% end %>
		</ul>
	</div>
</header>