<!DOCTYPE html>
<html>
	<head>
	  <title>Fix It With Code</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
		<meta name="google-site-verification" content="JE_IuE7wRYP6dp10ZpVbR04Lz-OpAEGfz1_OT6TwjQc" />
		<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class='frame'>
			<%= render 'layouts/header' %>
			<div class='content'>
				<div class='content_wrap'>
					<%= render 'layouts/errors' %>
					<%= yield %>
				</div>
			</div>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
