<!DOCTYPE html>
<html>
	<head>
	  <title>EmClicks</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class='frame'>
			<header>
				<div class='logo'>
					<%= link_to 'Emily Ellison', root_url %>
				</div>
				<div class='menu'>
					<ul>
						<li class='<%= @home_page %>'><%= link_to 'Home', root_url %></li>
						<li class='<%= @portfolio_page %>'><%= link_to 'Portfolio', projects_url %></li>
						<li class='<%= @about_page %>'><%= link_to 'About', about_url %></li>
						<li class='<%= @blog_page %>'><%= link_to 'Blog', blog_posts_url %></li>
						<li class='<%= @hire_page %>'><%= link_to 'Hire', new_inquiry_url %></li>
						<% if @current_user && @current_user.admin == true %>
							<li class='<%= @admin_page %>'><%= link_to 'Admin', admin_url %></li>
						<% end %>
					</ul>
				</div>
			</header>
			<div class='content'>
				<div class='content_wrap'>
					<% if flash[:success] %>
						<p class='alert-success'><%= flash[:success] %></p>
					<% end %>
					<% if flash[:notice] %>
						<p class='alert-notice'><%= flash[:notice] %></p>
					<% end %>
					<% if flash[:error] %>
						<p class='alert-error'><%= flash[:error] %></p>
					<% end %>
					<%= yield %>
				</div>
			</div>
			<footer>
				<ul>
					<li>&copy; 2012 Emily Ellison</li>
				</ul>
			</footer>
		</div>
	</body>
</html>
