<!DOCTYPE html>
<html>
	<head>
	  <title>EmClicks</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<div class='logo'>
				EmClicks
			</div>
			<div class='menu'>
				<ul>
					<li><%= link_to 'Home', '#' %></li>
					<li><%= link_to 'Portfolio', '#' %></li>
					<li><%= link_to 'About', '#' %></li>
					<li><%= link_to 'Blog', '#' %></li>
					<li><%= link_to 'Hire', '#' %></li>
				</ul>
			</div>
		</header>
		<%= yield %>
	</body>
</html>
